.login__Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    gap: 0.5rem;
    margin-top: 2rem;
    font-family: Palanquin;
}

.login__Title{
    font-family: Lilita One;
    color: #8A2ED2;
    font-size: 2.3rem;
}

.login__Form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login__Input{
    border-radius: 20px;
    width: 30vw;
    border: 2px solid #8A2ED2;
    padding: 1rem;
    font-size: 1rem;
}

.login__InputLabel{
    font-size: 1.5rem;
}

.login__Button{
    border: none;
    font-family: Palanquin;
    font-weight: 600;
    font-size: 1.2rem;
    width: 15vw;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    background-color: #8A2ED2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
}

.login__Error{
    color: red;
}